.container{
    display: flex;
    flex-wrap: wrap;
}

.songCard {
    flex: 1 0 calc(50% - 8%);
  max-width: calc(50% - 8%);
    margin: 4%;
  }

.albumCover{

    width: 100%;
    border-radius: 10%;

}

.search{

    display: flex;
    justify-content: center;
    align-items: center;
}

#appName{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(5vw, 2rem, 10vw);
}
#searchBar{
    border-radius: 10px;
    font-size: clamp(2vw, .75rem, 6vw);
    padding: 5px;
    margin-right: 1%;
    margin-left: 1%;
}
button{
    border-radius: 10px;
    font-size: clamp(1.75vw, .60rem, 5vw);
    padding: 5px;
    background-color: #79ae;
    color: white;
    border-color: #79ae;
}